<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="subscribe">
  <ul class="sidebyside">
    <li id="info">
      <h1>Stay In Touch</h1>
      <p>
        Please subscribe to our newsletter to get the latest news in your domain
        of interest. Don't forget to follow us on social networks!
      </p>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-youtube"></a>
    </li>
    <li>
      <form action="/blogs" method="post">
        <ul>
          <li>
            <input
              type="tel"
              id="phone"
              name="phone"
              required
              placeholder="Phone number" />
          </li>
          <li>
            <input
              type="email"
              id="Email"
              name="Email"
              required
              placeholder="Email" />
          </li>
          <li>
            <input
              type="text"
              id="First name"
              name="First name"
              required
              placeholder="First Name" />
          </li>
          <li>
            <input
              type="text"
              id="Last name"
              name="Last name"
              required
              placeholder="Last Name" />
          </li>
          <li>
            <button>Submit</button>
          </li>
        </ul>
      </form>
    </li>
  </ul>
</div>

<footer>
  <p>Copyright &copy; Me recipes AAA Taste</p>
</footer>
