<nav class="mainnav">
  <img src="/unnamed.png" alt="Anush Dcosta" />
  <h1 class="channel_name"><a href="/">Me Recipes AAA Taste</a></h1>

  <ul>
    <li><a href="/videos">Videos</a></li>
    <li>
      <a href="https://www.youtube.com/@merecipesaaataste" target="_blank"
        >Channel</a
      >
    </li>
    <li><a href="/About">About</a></li>
  </ul>
  <img src="/unnamed.png" alt="Anush Dcosta" />
</nav>
