<nav class="mainnav">
  <img src="/veena.jpeg" alt="Anush Dcosta" id="image" />
  <h1 id="channel_name"><a href="/">Me Recipes AAA Taste</a></h1>
  <ul id="navi">
    <li><a href="/">Home</a></li>
    <li>
      <a href="https://www.youtube.com/@merecipesaaataste" target="_blank">Channel</a>
    </li>
    <li><a href="/About">About</a></li>
  </ul>
  <img  src="/unnamed.png" alt="Anush Dcosta" id="image" />
</nav>