<div class="aboutnav">
  <ul class="headerfile">
    <li>
      <img src="/bigpicture.jpg" alt="the_main_picture" />
    </li>
    <li>
      <p class="whoiam">
        A variety of recipes, Snacks, Vegetarian, Non-Vegetarian, and many other
        Easy to Cook, Homemade, and tasty recipes with step-by-step detailed
        easy methods/instructions on how to cook family meals.
      </p>
    </li>
  </ul>
</div>
<nav class="datanav">
  <ul>
    <li><a href="/" onclick="">All Videos</a></li>
    <li><a href="/blogs/chicken">Chicken</a></li>
    <li><a href="/blogs/seafood">Seafood</a></li>
    <li><a href="/blogs/mutton">Mutton</a></li>
    <li><a href="/blogs/vegetable">Vegetable</a></li>
    <li><a href="/blogs/sweets">Sweets/deserts</a></li>
    <li><a href="/blogs/drinks">Drinks</a></li>
    <li><a href="/blogs/other">Others</a></li>
  </ul>
</nav>