@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Sedgwick+Ave+Display&display=swap");
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
  max-width: 1200px;
  background-color: antiquewhite;
}
body::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.25cm;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff00d0;
  border-radius: 50px;
}

.title {
  font-size: x-large;
}
.Thumbnail {
  width: 21em;
  height: 11em;
}
p,
h1,
h2,
h3,
a,
ul,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
  list-style-type: none;
}
.insta {
  transform: scale(2);
}
.Facebook {
  transform: scale(0.5);
  border-radius: 50%;
  margin: 0%;
}
/* nav & footer styles */
.mainnav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #c4c2c2;
  text-transform: uppercase;
}
.mainnav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mainnav li {
  list-style-type: none;
  margin-left: 20px;
}
.mainnav h1 {
  font-size: 4em;
  user-select: none;
  text-transform: capitalize;
  font-family: "Dancing Script";
  font-weight: 800;
  color: black;
}
.mainnav p,
.mainnav a {
  color: #000000;
  font-weight: 300;
}
.mainnav p {
  justify-content: auto;
}
.mainnav img {
  border-radius: 50%;
  width: 10%;
}
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content {
  margin-left: 20px;
}
.whoiam {
  font-size: 1.5em;
  font-style: italic;
  font-stretch: expanded;
  text-justify: auto;
}
a:hover {
  color: crimson;
  text-decoration: underline;
}
.datanav {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1cm;
  margin-top: 1cm;
}
.datanav ul {
  display: flex;
  justify-self: center;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 0px;
}
.datanav li {
  margin-left: 1.5cm;
  box-shadow: #222;
  font-weight: bolder;
  font-size: 1.5vw;
}
.channel_name {
  text-align: justify;
  font-family: "Dancing Script";
  padding-top: 2.5%;
  color: black;
}
.channel_name a:hover {
  padding-top: 2.5%;
  color: black;
}

.blogs_content ol {
  grid-gap: 10px;
  padding: 0%;
  margin: 0%;
}
.blogs_content li {
  border-spacing: 2cm;
}
.blogs_content h3 {
  text-align: left;
  font-style: oblique;
}
#partinfo a:hover {
  color: #000000;
}
.innerelem {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-gap: 10px;
  list-style: none;
  border: 0.1em solid black;
  border-radius: 10px;
  margin-bottom: 1%;
}
.aboutnav {
  border-bottom: 2px solid #ddd;
  margin-top: 0%;
  size-adjust: 0.5;
}
.aboutnav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.aboutnav img {
  border-top: 1.5cm solid black;
  border-bottom: 1.5cm solid black;
  max-width: 100%;
  width: auto;
  height: auto;
}
.aboutnav p {
  border: double black;
  font-style: italic;
  margin-bottom: auto;
  margin-top: auto;
  padding: 8%;
  font-size: 2.5vw;
  justify-content: center;
  font-family: "Dancing Script";
}

.subscribe {
  margin-top: 2%;
  border: 1mm solid black;
  padding: 0.75cm;
  padding-bottom: 0.25cm;
  background-color: antiquewhite;
  fill-opacity: 50%;
}

.subscribe input {
  width: 60%;
  height: 30px;
  margin: 0 auto;
  border: auto;
  border-radius: 10px;
  font-size: large;
}

.subscribe ul {
  list-style: none;
  display: grid;
}
.subscribe li {
  padding-bottom: 1em;
  text-align: center;
}
.subscribe button {
  font-size: 0.75cm;
  border-radius: 15px;
  width: 5cm;
  color: white;
  background: #000000;
}
.sidebyside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 40px;
  width: 25px;
  border-radius: 100px;
  scale: 2px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
#info {
  padding-top: 1.5cm;
}
#abouth1 {
  text-align: center;
}

#fullabout {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 0.75cm;
}
.allview {
  text-align: end;
}
.headerfile {
  list-style-type: none;
}
/* details page */

.Ingredients {
  font-size: x-large;
  text-align: justify;
  margin-bottom: 1cm;
}
.Ingredients input {
  width: 1cm;
  height: 1cm;
  vertical-align: middle;
  position: relative;
}

#title {
  text-transform: capitalize;
  font-size: 1cm;
  border-bottom: 0.1em solid black;
}
#subtitle {
  font-size: x-large;
  margin: 0%;
  width: 50%;
  text-align: center;
  padding-left: 20%;
  font-family: "lobster";
  font-size: 1cm;
  text-decoration: underline;
}

#mainpicture {
  width: 90%;
  margin-top: 1%;
  padding-top: 1%;
}

.recipe {
  height: auto;
  font-size: 110%;
}

.mainbody {
  width: 96%;
  height: 110%;
  padding-bottom: 1.5cm;
  border: 0.1em solid black;
  height: fit-content;
}
.subsections {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
}
.subbody {
  text-align: center;
  height: max-content;
  list-style-type: none;
}
.innersubelem {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  border: 0.1em solid black;
  border-radius: 10px;
  margin-bottom: auto;
  width: auto;
  height: auto;
}
.innersubelem ul {
  list-style-type: circle;
  padding: 1%;
}
.specelem {
  width: auto;
}
footer {
  margin-top: 100px;
  border-top: 0.5mm solid black;
}

.subbodyblogs img {
  scale: 0.8;
}

#yout_video {
  margin: 1cm;
  margin-left: 1.5cm;
  margin-bottom: 0cm;
}

.side {
  list-style-type: none;
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
}

#uptodate {
  margin: 10%;
  border: 0.1cm solid black;
}
#uptodate h2 {
  text-align: center;
  margin-top: 10%;
  text-decoration: underline;
}
#uptodate ul {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#uptodate a {
  margin-left: 1cm;
  font-size: 20;
  background-color: #ff0000;
  padding: 0.2cm;
  border-radius: 15px;
  color: #ffffff;
}
#uptodate h3 {
  margin-left: 1cm;
}
